<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Skillbot Analytics</title>

    <!-- Custom fonts for this template-->
    

    <link href="{{ url_for('static',filename='js/dashboard_js_files/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/dashboard_css_files/sb-admin-2.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/dashboard_css_files/dashboard.css')}}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-robot"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Skillbot Assistant</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li id="listitem1" class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Items
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - User conection Trend - Line chart  -->
            <li class="nav-item scroller" data-target="connection-trend">
                <a class="nav-link" >
                    <i class="fas fa-fw fa-chart-line"></i>
                    <span>Connection Trend</span></a>
            </li>
            
            <!-- Nav Item - Message Summary - Pie Chart  -->
            <li class="nav-item scroller" data-target="message-summary-pie-chart">
                <a class="nav-link">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>Message Summary</span></a>
            </li>
            
            <!-- Nav Item - Message Summary Trend- Line Chart  -->
            <li class="nav-item scroller" data-target="message-summary-line-chart">
                <a class="nav-link" >
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Message Trend</span></a>
            </li>
            
            <!-- Nav Item - Popular Intents -->
            <li class="nav-item scroller" data-target="intent-list">
                <a class="nav-link" >
                    <i class="fas fa-fw fa-list"></i>
                    <span>Popular Intents</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row Cards-->
                    <div class="row">

                        <!-- Total Connected users so far Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div id="total-connected-users" class="row no-gutters align-items-center" style="display: none;">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Connected Users</div>
                                            <div id="total-connected-users-count" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                    <div id="total-connected-users-loader" class="text-center"><i class="fas fa-spinner fa-pulse" ></i></div>
                                </div>
                            </div>
                        </div>

                        <!-- Average interaction time for the users -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div id="average-session-time" class="row no-gutters align-items-center" style="display: none;">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Average Interaction Time</div>
                                            <div id="average-session-time-value" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                    <div id="average-session-time-loader" class="text-center"><i class="fas fa-spinner fa-pulse" ></i></div>
                                </div>
                            </div>
                        </div>

                        <!-- Overall Happy sentiments -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div id="happy-users" class="row no-gutters align-items-center" style="display: none;">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Overall Happy Users
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div id="happy-users-count" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-smile fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                    <div id="happy-users-loader" class="text-center"><i class="fas fa-spinner fa-pulse" ></i></div>
                                </div>
                            </div>
                        </div>

                        <!-- Overall Unhapy sentiments -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body" >
                                    <div id="unhappy-users" class="row no-gutters align-items-center" style="display: none;">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Overall Unhappy Users</div>
                                            <div id="unhappy-users-count" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-frown fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                    <div id="unhappy-users-loader" class="text-center"><i class="fas fa-spinner fa-pulse" ></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row Charts -->

                    <div class="row">
                        
                        <!-- New User connection - Line Chart -->
                        <div class="col-md-12 col-xl-12 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">New users connection Overview : <span id="user-connection-trend-header"></span></h6>
                                    <div class="dropdown no-arrow">
                                        <a id="connection-trend" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Select Inverval : </div>
                                            <a class="dropdown-item trend-conversation" >Daily</a>
                                            <a class="dropdown-item trend-conversation" >Weekly</a>
                                            <a class="dropdown-item trend-conversation" >Monthly</a>
                                            

                                        </div>
                                        

                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" id="user-trend-canvas-div">
                                        <canvas id="user-connection-trend-line-chart"></canvas>
                                        <div id="user-connection-trend-line-chart-notice" class="text-center" style="display: none;padding-top: 15%;"></div>
                                        <div id="user-connection-trend-data-loader" class="text-center" style="padding-top: 15%;"><i class="fas fa-spinner fa-pulse" ></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Overall Message summary - Pie Chart-->
                        <div class="col-md-12 col-xl-12 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary" >Message Analyzation Summary : <span id="message-analyzation-pie-chart-header"></span></h6>
                                    <div class="dropdown no-arrow">
                                        <a id="message-summary-pie-chart" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Select Inverval : </div>
                                            <a class="dropdown-item pie-chart-msg-summary" >Select Dates</a> 

                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="message-analyzation-pie-chart" style="display: none;"></canvas>
                                        <div id="message-analyzation-pie-chart-notice" class="text-center" style="padding-top: 10%;display: none;"></div>
                                        <div id="message-analyzation-pie-chart-data-loader" class="text-center"  style="padding-top: 10%;"><i class="fas fa-spinner fa-pulse" ></i></div>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Identified Messages
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Unidentified Messages
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Message Analyzation Summary - Multiple Line Chart -->
                        <div class="col-md-12 col-xl-12 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Message Analyzation Trend : <span  id="message-analyzation-line-chart-header"></span></h6>
                                    <div class="dropdown no-arrow">
                                        <a id="message-summary-line-chart" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Select Inverval : </div>
                                            <a class="dropdown-item trend-msg-analysis" >Daily</a>
                                            <a class="dropdown-item trend-msg-analysis" >Weekly</a>
                                            <a class="dropdown-item trend-msg-analysis" >Monthly</a>
                                            

                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="message-analyzation-trend-line-chart" style="display: none;"></canvas>
                                        <div id="message-analyzation-trend-line-chart-notice" class="text-center" style="padding-top: 10%; display: none;"></div>
                                        <div id="message-analyzation-trend-line-chart-data-loader" class="text-center" style="padding-top: 10%; display: none;"><i class="fas fa-spinner fa-pulse" ></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">
                            
                            <!-- Top 10 intents - Card -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary" >Top 10 Matched Intents : <span id="popular-intent-list-header"></span></h6>
                                    <div class="dropdown no-arrow">
                                        <a id="intent-list" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Select Inverval : </div>
                                            <a class="dropdown-item list-intent" >Select Dates</a>                                            
                                        </div>

                                    </div>
                                </div>
                                <div id="popular-intent-list-card" class="card-body">
                                    <div id="popular-intents-loader" class="text-center"><i class="fas fa-spinner fa-pulse" ></i></div>           
                                </div>
                            </div>

                        </div>

            
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div id="feet" class="copyright text-center my-auto">
                        <span>Copyright &copy; Skillbot</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!------------------------------------------------ MODAL FOR DATE INPUT - BEGINNING --------------------------------->
    <div class="modal fade" id="date-input-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="date-input-modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="initial-date" class="col-form-label">Initial Date: </label>
                  <input type="date" class="form-control" id="initial-date" />
                </div>
                <div class="form-group">
                  <label for="final-date" class="col-form-label">Final Date:</label>
                  <input type="date" class="form-control" id="final-date" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button id="btn-confirm-dates" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
      
    <!------------------------------------------------ MODAL FOR DATE INPUT - ENDING --------------------------------->
    

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static',filename='js/dashboard_js_files/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/dashboard_js_files/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='js/dashboard_js_files/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static',filename='js/dashboard_js_files/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='js/dashboard_js_files/vendor/chart.js/Chart.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Page level custom scripts -->
    
    <script src="{{ url_for('static',filename='js/dashboard_js_files/index.js')}}" type="module"></script>

</body>

</html>